@{
    Layout = null;
}
<h1>404</h1>
<p>ACCESS DENIED</p>

<style>
    body {
        background-image: url('/assets/img/logo/denied.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 800px 650px;
        background-position: center;
        background-color: black;
        font-family: "Lucida Console", "Courier New", monospace;
    }

    h1 {
        color: white;
        font-size: 135px;
        text-align: center;
    }

    p {
        color: red;
        font-size: 90px;
        text-align: center;
    }
</style>