<div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-sm" style="margin-left:-20px;">
          <a href="https://z.cdn.ftd.agency/go?z=1369829074&amp;" target="_blank" rel="nofollow" class="g76926"><img src="~/assets/img/logo/aside_gif.gif" style="width:300px;height:500px;"></a>
      </div>
        <div class="col-sm" style="margin:0">
            <h1>Not result!</h1>
            <img style="width:300px" src="~/assets/img/logo/notresult.jpg" alt="not_result" />
      </div>
  </div>
</div>
<style>
   
    h1{
        color: rgba(0, 0, 0, 0.5);
        font-size: 3em;
        font-weight: 800;
        font-family: Consolas, "Segoe UI", Calibri, sans-serif;
        font-style: italic !important;
    }
</style>