<h1 style="color:green;margin-left:30px;font-family:Georgia, serif;font-size:55px">Success</h1>
<br/>

<div class="center-image">
    <img src="~/assets/img/logo/payment.png" alt="Payment Successful">
</div>
<script>
	localStorage.clear();
</script>
<style>
    .center-image {
        text-align: center;
    }
    .center-image img {
        display: block;
        margin: auto;
    }
</style>